@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Fuzzy+Bubbles&family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Onest:wght@100..900&family=Outfit:wght@100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Sora";
    font-weight: 400;
    font-style: normal;
}

.maint {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.mainlogin {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannerdiv {
    display: flex;
    align-items: center;
    width: 45%;
    height: 45%;
}

.banner {
    width: 100%;
}

.direita {
    width: 40%;   
}

.sele {
    text-align: center;
    margin-top: 4%;
}

.personas {
    margin-top: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.escolha {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 35%;
}

.foto1 {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.imges {
    height: 80%;
}

.divtext {
    display: flex;
    align-items: center;
    margin-left: 8%;
}
